input.create_post{
    margin:0px;
    margin-left: 10px;
    border-radius: 0px;
    width:80%;
}

.create_post_header
{
    padding: 0px;
    margin: 0px;
}

.create_post
{
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

form 
{
    width: 100%;
}

.create_post_body
{
    width: 100%;
}

.create_post_btn
{
    width: 85%;
}

div.separator
{
    width: 2px;
    height: 100%;
    background-color: #ccc;
    margin: 10px;
}

.create_post_main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* justify-content: center; */
}

div.renderer
{
    width: 50%;
    overflow: scroll;
}

textarea
{
    /* width 80%;*/
    margin: 0px;
    border-radius: 0px;
    width:40vw;
    height: 50vh;
    resize: none;
    padding: 10px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    overflow-y: scroll;

}

.form-group
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-group.center
{
    display: grid;
    place-items: center;
}
.scrollbar-thin
{
    scrollbar-width: thin;
    scrollbar-color: #ccc #333;
}
.form-control
{
    margin: 10px;
    padding: 10px;
    /* width: 100%; */
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}